.cameras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.camera {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: solid 1px grey;
}

.camera1 {
    color: black;
    font-family: Verdana;
}
.camera2 {
    color: black;
    font-family: Tahoma;
}
.monBouton {
    width:85px;
    height:85px;
    background: darkslategrey;
    font:bold 13px Arial;
    border-radius:50%;
    border:none;
    color:#fff;
    text-align: center;
    box-shadow: "10px 20px 30px blue";
}

.cam {
    width:500px;
    height:500px;
    background:#cc0000;
    font:bold 13px Arial;
    border-radius:50%;
    border:none;
    color: blue;
}
body {
    background-color: dimgrey;
}
.para1 {
    text-align: center;
    text-size: 50px;
    font-family: Segoe Script;
    color: red;
}