.cameras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.camera {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: solid 1px grey;
}
